@model Internship.Models.final_project_assignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>final_project_assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.convention.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.convention.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.validation_group.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.validation_group.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sheet.categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sheet.categorie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
