@model IEnumerable<Internship.Models.sheet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enterprise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.problematique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enterprise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.problematique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
